body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

.carousel {
  padding: 7% 8% 10%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1% 3%;
}

.nav-link:hover {
  background-color: #add8e6;
}

.hover-feature {
  padding-top: 2%;
}

.hover-feature:hover {
  background-color:  #e6e6fa;
}

.footer-symbols {
  margin: 3% 1%;
  color: black;
}

.footer-symbols:hover {
  color: blue;
}

.feedback-h3 {
  line-height: 2.0;
  font-style: italic;
}

.feedback-image {
  margin: 20px;
  border-radius: 100%;
  width: 12%;
}


#main {
  background-color: #add8e6;
  padding: 3% 10%;
}

#feedback {
  padding: 3% 5%;
  background-color: #add8e6;
}

#footer {
  padding: 3% 10%;
}
